<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate>Beneficiaries - <small>Assign Group</small></h1>
</div>
<div class="vbox">
    <div class="col">
        <div class="wrapper bg-light lter b-b">
            <form class="form-horizontal" ng-submit="runFilters()" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="col-sm-1 control-label">Sex &nbsp;</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="bulkFilters.Sex">
                                <option></option>
                                <option value="1">Female</option>
                                <option value="0">Male</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Location &nbsp;</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="bulkFilters.Location" typeahead="item as item.Name for item in filterLocations($viewValue) | limitTo:8" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label class="col-sm-2 control-label">Date of birth</label>
                        <label class="col-sm-1 control-label">From:</label>
                        <div class="col-sm-4">
                            <input type="date" ng-model="bulkFilters.DateOfBirthFrom" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">To:</label>
                        <div class="col-sm-4">
                            <input type="date" ng-model="bulkFilters.DateOfBirthTo" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper-md col">

        <div class="panel panel-default">
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:320px"></div>
            </div>
        </div>
    </div>
    <div class="wrapper-md col">
        <div class="btn-group ">
            <a href ng-click="assignToGroup()" class="btn  btn-success">Assign Group</a>
        </div>
    </div>

</div>