<form name="popupForm" class="form-horizontal" ng-submit="save()">
    <div class="modal-header">
        <h4 class="modal-title" translate>
            Distribute Vouchers
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <form-group label="{{ 'Cycle'|translate }}" name="groupId" required="true">
                    <select class="form-control" ng-model="entity.groupId" form-input required
                            ng-options="item.id as item.name for item in groups | orderBy:'item.id'"></select>
                </form-group>
            </div>
            <div class="col-sm-12">
                <form-group label="{{ 'Location'|translate }}" name="locationId">
                    <select class="form-control" ng-model="entity.locationId" form-input
                            ng-options="item.id as item.name for item in locations | orderBy:'item.id'"></select>
                </form-group>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" translate>
            Create Distribution
        </button>
        <button class="btn btn-default" ng-click="close()" translate>
            Back
        </button>
    </div>
</form>
