<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Name" ng-model="vm.entity.name" required>
            </div>
            <label class="col-sm-2 control-label">Distribution Mechanism</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="vm.entity.distributionMechanism"
                        ng-options="item.id as item.name for item in vm.lists.distributionMechanisms | orderBy:'item.name'"></select>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Voucher Code Size</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" placeholder="Name" ng-model="vm.entity.voucherCodeLength" required>
            </div>
        </div>
        <div class="line b-b line-lg pull-in" ng-if="!vm.isNew"></div>
        <div class="form-group" ng-if="!vm.isNew">
            <label class="col-sm-2 control-label" translate>Created On</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="vm.entity.createdOn" disabled>
            </div>
            <label class="col-sm-2 control-label" translate>Last Modified On</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="vm.entity.modifiedOn" disabled>
            </div>
        </div>
    </div>


</div>
<div class="panel panel-default" ng-repeat="category in vm.entity.categories" toggle-editing is-editing="vm.isEditing">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Type of Voucher</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="category.typeId"
                        ng-options="item.id as item.name for item in vm.lists.voucherTypes | orderBy:'item.name'" required></select>
            </div>
            <label class="col-sm-2 control-label">Restricted Type of Vendor</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="category.vendorTypeId"
                        ng-options="item.id as item.name for item in vm.lists.vendorTypes | orderBy:'item.name'"></select>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Value of Vouchers</label>
            <div class="col-sm-4">
                <div class="input-group m-b">
                    <span class="input-group-addon">{{ country.CurrencyIsoCode }}</span>
                    <input type="text" class="form-control" placeholder="Value" ng-model="category.value" required>
                </div>
            </div>
            <label class="col-sm-2 control-label" translate>Vouchers Issued</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Issued Vouchers" ng-model="category.issuedVouchers" disabled>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in" ng-if="vm.isEditing && !vm.isNew"></div>
        <div class="col-sm-12" ng-if="vm.isEditing && !vm.isNew">
            <a href ng-click="removeCategory(category)" class="btn btn-info btn-dark pull-right" translate>Remove</a>
        </div>
    </div>
</div>
<div class="row wrapper-sm" ng-if="vm.isEditing && !vm.isNew">
    <div class="col-sm-12">
        <a href ng-click="addCategory()" class="btn btn-info btn-dark pull-right" translate>Add</a>
    </div>
</div>

<tabset justified="true" class="tab-container grid" ng-if="!vm.isNew">
    <tab heading="Distributions">
        <div class="panel panel-default">
            <sub-grid collection="Distributions"
                      expand="location"
                      key="programId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="Title" field="title"></sub-grid-column>
                <sub-grid-column label="Location" field="location.name"></sub-grid-column>
                <sub-grid-column label="Cycle" field="group.name"></sub-grid-column>
                <sub-grid-column label="Created On" field="createdOn"><div class="ui-grid-cell-contents">{{row.entity.createdOn|localeDateTime}}</div></sub-grid-column>
                <sub-grid-column label="Actions" name="Actions">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group">
                            <a href ui-sref="distributions.edit({id:row.entity.id})" class="btn btn-default btn-xs">Open</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
</tabset>