<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-6">
            <form-group label="{{ 'Name'|translate }}" name="name" required="true">
                <input type="text" class="form-control" ng-model="vm.entity.name" form-input required />
            </form-group>
        </div>
        <div class="col-sm-6">
            <form-group label="{{ 'Distribution Mechanism'|translate }}" name="distributionMechanism" required="true">
                <select class="form-control" ng-model="vm.entity.distributionMechanism" form-input required
                        ng-options="item.id as item.name for item in vm.lists.distributionMechanisms | orderBy:'item.name'"></select>
            </form-group>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="col-sm-6">
            <form-group label="{{ 'Voucher Code Size'|translate }}" name="voucherCodeLength" required="true">
                <input type="text" class="form-control" ng-model="vm.entity.voucherCodeLength" form-input required />
            </form-group>
        </div>
        <div ng-if="!vm.isNew">
            <div class="line b-b line-lg pull-in"></div>
            <div class="col-sm-6">
                <form-group label="{{ 'Created On'|translate }}" name="createdOn">
                    <input type="text" class="form-control" ng-model="vm.entity.createdOn" form-input />
                </form-group>
            </div>
            <div class="col-sm-6">
                <form-group label="{{ 'Modified On'|translate }}" name="modifiedOn">
                    <input type="text" class="form-control" ng-model="vm.entity.modifiedOn" form-input />
                </form-group>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="!vm.isNew">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="">#</th>
                <th class="col-sm-2">Type of Voucher</th>
                <th class="col-sm-2">Type of Vendor</th>
                <th class="">Value</th>
                <th class="col-sm-2" ng-if="vm.entity.distributionMechanism == 3" colspan="2">Valid only after </th>
                <th class="col-sm-2" ng-if="vm.isEditing && !vm.isNew"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in vm.entity.categories|orderBy:(vm.entity.distributionMechanism == 3 ? ['validAfterOffsetType', 'validAfterOffset'] : 'id')" toggle-editing is-editing="vm.isEditing">
                <td>{{$index + 1}}</td>
                <td>
                    <select class="form-control" ng-model="category.typeId"
                            ng-options="item.id as item.name for item in vm.lists.voucherTypes | orderBy:'item.name'" required></select>
                </td>
                <td>
                    <select class="form-control" ng-model="category.vendorTypeId"
                            ng-options="item.id as item.name for item in vm.lists.vendorTypes | orderBy:'item.name'"></select>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{ country.CurrencyIsoCode }}</span>
                        <input type="text" class="form-control" placeholder="Value" ng-model="category.value" required>
                    </div>
                </td>
                <td ng-if="vm.entity.distributionMechanism == 3 && category.validAfterOffsetType != 1">
                    <input type="number" class="form-control" placeholder="" ng-model="category.validAfterOffset">

                </td>
                <td ng-if="vm.entity.distributionMechanism == 3" colspan="{{ category.validAfterOffsetType != 1 ? 1 : 2}}">
                    <select class="form-control" ng-model="category.validAfterOffsetType"
                            ng-options="item.id as item.name for item in vm.lists.validAfterOffsetTypes | orderBy:'item.name'"></select>
                </td>
                <td ng-if="vm.isEditing && !vm.isNew">
                    <div class="btn-group pull-right">
                        <a href ng-click="copyCategory(category)" class="btn btn-xs btn-info btn-success" translate ng-if="vm.entity.distributionMechanism == 3">Copy</a>
                        <a href ng-click="removeCategory(category)" class="btn btn-xs btn-info btn-dark" translate>Remove</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row wrapper-sm" ng-if="vm.isEditing && !vm.isNew">
    <div class="col-sm-12">
        <a href ng-click="addCategory()" class="btn btn-xs btn-info btn-dark pull-right" translate>Add</a>
    </div>
</div>

<tabset justified="true" class="tab-container grid" ng-if="!vm.isNew">
    <tab heading="{{ 'Distributions'|translate }}">
        <div class="panel panel-default">
            <sub-grid collection="Distributions"
                      expand="location"
                      key="programId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="{{ 'Title'|translate }}" field="title"></sub-grid-column>
                <sub-grid-column label="{{ 'Location'|translate }}" field="location.name"></sub-grid-column>
                <sub-grid-column label="{{ 'Cycle'|translate }}" field="group.name"></sub-grid-column>
                <sub-grid-column label="{{ 'Created On'|translate }}" field="createdOn"><div class="ui-grid-cell-contents">{{row.entity.createdOn|localeDateTime}}</div></sub-grid-column>
                <sub-grid-column label="{{ 'Actions'|translate }}" name="Actions" disable-sorting="true">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group">
                            <a href ui-sref="distributions.edit({id:row.entity.id})" class="btn btn-default btn-xs">Open</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
</tabset>