<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate>Edit Profile</h1>
</div>
<div class="wrapper-md">
    <form class="bs-example form-horizontal form-validation" ng-submit="save()">
        <div class="row" toggle-editing is-editing="isEditing">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Full Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="{{'Full Name'|translate}}" ng-model="user.FullName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Account Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="{{'Account Name'|translate}}" ng-model="user.UserName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-8">
                                <select chosen class="form-control" ng-model="user.Role"
                                        ng-options="item.Id as item.Name for item in roles | orderBy:'item.Name'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Organization</label>
                            <div class="col-sm-8">
                                <select chosen class="form-control" ng-model="user.OrganizationId"
                                        ng-options="item.Id as item.Name for item in organizations | orderBy:'item.Name'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Countries</label>
                            <div class="col-sm-8">
                                <select chosen class="form-control" ng-model="userCountries" multiple
                                        ng-options="item.Id as item.Name for item in countries | orderBy:'item.Name'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="{{'Email'|translate}}" ng-model="user.Email" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Reset password
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Old Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" placeholder="{{ 'Old Password'|translate }}" ng-model="password.OldPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" placeholder="{{ 'Password'|translate }}" ng-model="password.NewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate>Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" placeholder="{{ 'Confirm Password'|translate }}" ng-model="password.ConfirmPassword"
                                       ui-validate="'$value==password.NewPassword'" ui-validate-watch="'password.NewPassword'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!isEditing">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class=" col-sm-6">
                        <div class="btn-group ">
                            <a href ng-click="delete()" class="btn btn-sm btn-danger" translate>Delete</a>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="btn-group pull-right" ng-if="!entity.Disabled">
                            <button ng-click="startEditing()" class="btn btn-primary" translate>Edit</button>
                            <button ui-sref="system-admin.users.list" class="btn btn-info" translate>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="isEditing">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class=" col-sm-12">
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" translate>Save</button>
                            <a ng-click="save(true)" class="btn btn-primary" translate>Save and Continue Editing</a>
                            <a ng-click="endEditing()" class="btn btn-info" translate>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
