<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-6">
            <form-group label="{{ 'Name'|translate }}" name="name" required="true">
                <input type="text" class="form-control" ng-model="vm.entity.name" form-input required />
            </form-group>
        </div>
        <div class="col-sm-6">
            <form-group label="{{ 'Abbreviation'|translate }}" name="abbreviation" required="true">
                <input type="text" class="form-control" ng-model="vm.entity.abbreviation" form-input required />
            </form-group>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Logo</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-2">
                        <img src="{{ vm.entity.logoSVG ? vm.entity.logoSVG : '' }}" class="" style="max-height: 100px;" />
                    </div>
                    <label class="col-sm-2 control-label" translate ng-if="vm.isEditing">Update Logo</label>
                    <div class="col-sm-8" ng-if="vm.isEditing">
                        <input type="file" class="form-control" placeholder="{{'Logo'}}" ng-model="vm.entity.logoSVG" file-reader required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<tabset justified="true" class="tab-container grid" ng-if="!vm.isNew">
    <tab heading="{{ 'Countries'|translate }}">
        <div class="panel panel-default">
            <sub-grid collection="Countries"
                      entity-manager="adminEntityManager"
                      entity="vm.entity"
                      select="vm.mergeCountries">
                <sub-grid-column label="#" field="id"></sub-grid-column>
                <sub-grid-column label="{{ 'Name'|translate }}" field="name"></sub-grid-column>
                <sub-grid-column label="{{ 'Actions'|translate }}" name="Actions" disableSorting="true" width="150">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group">
                            <a href ng-click="grid.appScope.$parent.addCountry(row.entity, grid)"
                               class="btn btn-success btn-xs btn-block" ng-if="!row.entity.isLinked">Add</a>
                            <a href ng-click="grid.appScope.$parent.removeCountry(row.entity, grid)"
                               class="btn btn-danger btn-xs" ng-if="row.entity.isLinked">Remove</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
</tabset>
