<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Distribution Information - <small>{{ entity.Title }}</small></h1>
</div>
<div class="wrapper-md">
    <form class="bs-example form-horizontal form-validation" ng-submit="save()" >
        <div class="row">
            <div class="col-sm-12" ng-include="'tpl/distributions/form.html'" toggle-editing is-editing="isEditing">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-n font-thin h4">Generated Vouchers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <div ng-grid="gridOptions" style="min-height:300px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-if="!isEditing">
                <div class="form-group">
                    <div class=" col-sm-6">
                        <div class="btn-group ">
                            <a href ng-click="delete()" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <a href ng-click="generateVouchers()" class="btn btn-sm btn-success">Generate Vouchers</a>
                        <a href ng-click="assignToGroup()" class="btn btn-sm btn-success">Assign Vouchers to Group</a>
                    </div>
                    <div class=" col-sm-6">
                        <div class="btn-group pull-right" ng-if="!entity.Disabled">
                            <button ng-click="startEditing()" class="btn btn-primary">Edit</button>
                            <button ui-sref="distributions.list" class="btn btn-info">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-if="isEditing">
                <div class="form-group">
                    <div class=" col-sm-12">
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button ng-click="save(true)" class="btn btn-primary">Save and Continue Editing</button>
                            <button ng-click="endEditing()" class="btn btn-info">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
