<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate>Distribution Information - <small>{{ entity.Title }}</small></h1>
</div>
<div class="wrapper-md">
    <form class="bs-example form-horizontal form-validation" ng-submit="save()">
        <div class="row" style="margin-bottom: 1em">
            <div class="col-sm-12" ng-include="'tpl/distributions/form.html'" toggle-editing is-editing="isEditing">

            </div>
        </div>
    </form>

    <tabset justified="true" class="tab-container" >
        <tab heading="{{ 'Unused Vouchers'|translate }}">
            <form ng-submit="searchUnused()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="search.UnusedVouchers" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary" href ng-click="searchUnused()" translate>Search</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-grid="UnusedVouchersGridOptions" style="min-height:400px"></div>
        </tab>
        <tab heading="{{ 'Used Vouchers'|translate }}">
            <form ng-submit="searchUsed()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="search.UsedVouchers" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary" href ng-click="searchUsed()" translate>Search</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-grid="UsedVouchersGridOptions" style="min-height:400px"></div>
        </tab>
        <tab heading="{{ 'Vendors'|translate }}">
            <form ng-submit="searchVendors()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="search.Vendors" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary" href ng-click="searchVendors()" translate>Search</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-grid="VendorsGridOptions" style="min-height:400px"></div>
        </tab>
        <tab heading="{{ 'Distribution Log'|translate }}">
            <div ng-grid="DistributionLogGridOptions" style="min-height:400px"></div>
        </tab>
</tabset>
    <div class="row">
        <div class="col-sm-12" ng-if="!isEditing">
            <div class="form-group">
                <div class=" col-sm-6">
                    <div class="btn-group ">
                        <a href ng-click="delete()" class="btn btn-sm btn-danger" translate>Delete</a>
                        <a href ng-click="assignToGroup()" class="btn btn-sm btn-success" ng-if="!isAssigning" translate>Assign Vouchers to Group</a>
                        <a href="#" class="btn btn-sm btn-success" ng-if="isAssigning" disabled translate>Assignment in Progress...</a>
                    </div>

                </div>
                <div class=" col-sm-6">
                    <div class="btn-group pull-right" ng-if="!entity.Disabled">
                        <button ng-click="startEditing()" class="btn btn-primary" translate>Edit</button>
                        <button ui-sref="distributions.list" class="btn btn-info" translate>Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-if="isEditing">
            <div class="form-group">
                <div class=" col-sm-12">
                    <div class="btn-group pull-right">
                        <button ng-click="save()" class="btn btn-primary">Save</button>
                        <button ng-click="save(true)" class="btn btn-primary">Save and Continue Editing</button>
                        <button ng-click="endEditing()" class="btn btn-info">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
