<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ genericSettings.title }} - <small>{{ entity.Country.Name }}</small></h1>
</div>
<div class="wrapper-md">
    <form class="bs-example form-horizontal form-validation" ng-submit="save()">
        <div class="row">
            <div class="col-sm-12" toggle-editing is-editing="isEditing">

                <div class="panel panel-default" ng-if="isNew">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Country</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="entity.CountryId"
                                        ng-options="item.Id as item.Name for item in countries | orderBy:'item.Name'"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="!isNew">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="{{'Name'|translate}}" ng-model="entity.Country.Name" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>ISO Alpha-2 Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'ISO Alpha-2 Code'|translate}}" ng-model="entity.Country.IsoAlpha2" disabled>
                            </div>
                            <label class="col-sm-2 control-label" translate>ISO Alpha-3 Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'ISO Alpha-3 Code'|translate}}" ng-model="entity.Country.IsoAlpha3" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Currency ISO Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'Currency ISO Code'|translate}}" ng-model="entity.Country.CurrencyIsoCode" disabled>
                            </div>
                            <label class="col-sm-2 control-label" translate>Currency Symbol</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'Currency Symbol'|translate}}" ng-model="entity.Country.CurrencyUnicodeSymbol" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Calling Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'Calling Code'|translate}}" ng-model="entity.Country.CountryCallingCode" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="!isNew">
                    <div class="panel-heading">
                        Organization Settings
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>SMS Service URL</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'SMS Service URL'|translate}}" ng-model="countrySettings.ServiceUrl" required>
                            </div>
                            <label class="col-sm-2 control-label" translate>Default</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="entity.Country.Settings.ServiceUrl" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>SMS Service User Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'SMS Service User Name'|translate}}" ng-model="countrySettings.ServiceUser" required>
                            </div>
                            <label class="col-sm-2 control-label" translate>Default</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="entity.Country.Settings.ServiceUser" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>SMS Service Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{{'SMS Service Password'|translate}}" ng-model="countrySettings.ServicePassword" required>
                            </div>
                            <label class="col-sm-2 control-label" translate>Default</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="entity.Country.Settings.ServicePassword" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="!isNew">
                    <div class="panel-heading">
                        Messages
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Message 1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="{{'SMS Service URL'|translate}}" ng-model="countrySettings.Properties['Outgoing Message']" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Message 2</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="{{'SMS Service URL'|translate}}" ng-model="countrySettings.Properties['Outgoing Message2']" required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" ng-if="isNew">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-primary" translate>Save</button>
                    <button ui-sref="system-admin.organizations.edit({ id: entity.OrganizationId })" class="btn btn-info" translate>Back</button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!isEditing && !isNew">
            <div class=" col-sm-6">
                <div class="btn-group ">
                    <a href ng-click="delete()" class="btn btn-sm btn-danger" translate>Delete</a>
                </div>
            </div>
            <div class=" col-sm-6">
                <div class="btn-group pull-right" ng-if="!entity.Disabled">
                    <button ng-click="startEditing()" class="btn btn-primary" translate>Edit</button>
                    <button ui-sref="system-admin.organizations.edit({ id: entity.OrganizationId })" class="btn btn-info" translate>Back</button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="isEditing && !isNew">
            <div class=" col-sm-12">
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-primary" translate>Save</button>
                    <a ng-click="save(true)" class="btn btn-primary" translate>Save and Continue Editing</a>
                    <a ng-click="endEditing()" class="btn btn-info" translate>Back</a>
                </div>
            </div>
        </div>
    </form>
</div>
