

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" translate>Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="{{'Name'|translate}}" ng-model="entity.Name" required>
                    </div>
                    <label class="col-sm-2 control-label" translate>Abbreviation</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="{{'Abbreviation'|translate}}" ng-model="entity.Abbreviation" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Logo</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-2">
                        <img src="{{ entity.LogoSVG ? entity.LogoSVG : '' }}" class="" style="max-height: 100px;" />
                    </div>
                    <label class="col-sm-2 control-label" translate ng-if="isEditing">Update Logo</label>
                    <div class="col-sm-8" ng-if="isEditing">
                        <input type="file" class="form-control" placeholder="{{'Logo'|translate}}" ng-model="entity.LogoSVG" file-reader required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="table-responsive">
                <div ng-grid="OrganizationCountriesGridOptions" style="min-height:300px"></div>
            </div>
        </div>
    </div>
</div>
