<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" ng-model="vm.entity.name" required />
            </div>
        </div>
    </div>
</div>
<tabset justified="true" class="tab-container grid" ng-if="!vm.isNew">
    <tab heading="Unused Vouchers">
        <div class="panel panel-default">
            <sub-grid
                      collection="Beneficiaries"
                      expand="location"
                      key="groupId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="First Name" field="firstName"></sub-grid-column>
                <sub-grid-column label="Last Name" field="lastName"></sub-grid-column>
                <sub-grid-column label="Location" field="location.name"></sub-grid-column>
                <sub-grid-column label="Actions" name="Actions" width="100">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group">
                            <a href ng-click="grid.appScope.$parent.removeBeneficiary(row.entity, grid)" 
                               class="btn btn-default btn-xs" ><i class="fa fa-trash-o"></i> Remove</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
</tabset>