@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif
        }
    </style>
    <title></title>
</head>
<body>
    <div>
    Testing Sans Serif
    </div>
</body>
</html>
