<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{'Name'}}" ng-model="vm.entity.name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>ISO Alpha-2 Code</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="{{'ISO Alpha-2 Code'}}" ng-model="vm.entity.isoAlpha2" required>
            </div>
            <label class="col-sm-4 control-label" translate>ISO Alpha-3 Code</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="{{'ISO Alpha-3 Code'}}" ng-model="vm.entity.isoAlpha3" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>Currency ISO Code</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="{{'Currency ISO Code'}}" ng-model="vm.entity.currencyIsoCode" required>
            </div>
            <label class="col-sm-4 control-label" translate>Currency Symbol</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="{{'Currency Symbol'}}" ng-model="vm.entity.currencyUnicodeSymbol" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>Calling Code</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="{{'Calling Code'}}" ng-model="vm.entity.countryCallingCode" required>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-if="!vm.isNew">
    <div class="panel-heading">
        Country-wide Settings
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>SMS Service Type</label>
            <div class="col-sm-8">
                <select disabled class="form-control" ng-model="vm.entity.settings.smsBackendType"
                        ng-options="item.id as item.name for item in vm.lists.smsBackends | orderBy:'item.name'"></select>
            </div>
        </div>
        <div class="form-group" ng-if="[0,2].indexOf(vm.entity.settings.smsBackendType) > -1">
            <label class="col-sm-4 control-label" translate>SMS Service URL</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{'SMS Service URL'}}" ng-model="vm.entity.settings.serviceUrl" readonly>
            </div>
        </div>
        <div class="form-group" ng-if="vm.entity.settings.smsBackendType == 1">
            <label class="col-sm-4 control-label" translate>
                TurboSMS Signature
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['TurboSMS Signature']" placeholder="{{'TurboSMS Signature'}}" ng-readonly="!isEditing">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>SMS Service User Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{'SMS Service User Name'}}" ng-model="vm.entity.settings.serviceUser">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>SMS Service Password</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{'SMS Service Password'}}" ng-model="vm.entity.settings.servicePassword">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-if="!vm.isNew">
    <div class="panel-heading">
        Messages
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Beneficiary Voucher Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Beneficiary Voucher Message']" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Beneficiary Confirmed Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Beneficiary Confirmed Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Vendor Confirmed Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Vendor Confirmed Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Beneficiary Canceled Voucher Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Beneficiary Canceled Voucher Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Invalid Voucher Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Invalid Voucher Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Wrong National Id Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Wrong National Id Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Vendor Cannot Accept Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Vendor Cannot Accept Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Beneficiary Cannot Accept Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Beneficiary Cannot Accept Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Vendor Already Used Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Vendor Already Used Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Beneficiary Already Used Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Beneficiary Already Used Message']" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Vendor Cancelled Message
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="vm.entity.settings.properties['Vendor Cancelled Message']" required>
            </div>
        </div>


    </div>
</div>