<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="utf-8" />
    <title>Emergency Voucher Management</title>


    <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/App/css/app.min.css" type="text/css" />
</head>

<body ng-controller="AppCtrl">
    <div class="app" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view></div>
    <!-- jQuery -->
    <script src="~/Scripts/NavigationMenu.js">
    </script>
    <script src="~/App/lib/crypto/forge.min.js"></script>
    <script src="~/App/js/app.min.js"></script>
    <!-- Lazy loading -->
</body>

</html>
