<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Vendor Receipt History</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate>Program</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="reconciliation.Program"
                                    ng-options="item as item.Name for item in programs | orderBy:'item.Name'"></select>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" href ng-disabled="!(reconciliation.Program)" ng-click="listReports()">List Reports</a>
                </div>
            </div>
        </div>
        <div ng-if="reconciliation.Reports" class="container-fluid">
            <h3>Reports</h3>
            <div class="row">
               
                <div class="col-sm-12">
                    <div class="panel panel-default" ng-repeat="report in reconciliation.Reports">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3"><strong>Vendor</strong></div>
                                <div class="col-sm-2">{{ report.Vendor.Name }}</div>
                                <div class="col-sm-3"><strong>Report Run On</strong></div>
                                <div class="col-sm-2">{{ report.ReportRunOn|localeDateTime }}</div>
                                <div class="col-sm-2"><a href mime-type="application/pdf" download="Report.pdf" file-download ng-model="report.OriginalReport" target="_blank" class="btn btn-xs btn-block btn-success">Download</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>