<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ genericSettings.title }} - <small>{{ entity.Name }}</small></h1>
</div>
<div class="wrapper-md">
    <form class="bs-example form-horizontal form-validation" ng-submit="save()">
        <div class="row">
            <div class="col-sm-12" ng-include="genericSettings.formTemplate" toggle-editing is-editing="isEditing">

            </div>
        </div>
        <div class="row" ng-if="!isEditing">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class=" col-sm-6">
                        <div class="btn-group ">
                            <a href ng-click="delete()" class="btn btn-sm btn-danger" translate>Delete</a>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="btn-group pull-right" ng-if="!entity.Disabled">
                            <button ng-click="startEditing()" class="btn btn-primary" translate>Edit</button>
                            <button ui-sref="{{ genericSettings.listState }}" class="btn btn-info" translate>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="isEditing">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class=" col-sm-12">
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" translate>Save</button>
                            <a ng-click="save(true)" class="btn btn-primary" translate>Save and Continue Editing</a>
                            <a ng-click="endEditing()" class="btn btn-info" translate>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
