<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>TalonSMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="~/App/css/app.min.css" type="text/css" />
    <link rel="stylesheet" href="~/App/bower/ng-grid/ng-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="~/App/lib/ng-grid.bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Flags/css/flag-icon.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/NonAngularCss" type="text/css" />
    <link rel="stylesheet" href="~/app/lib/bootstrap-chosen/bootstrap-chosen.css" type="text/css" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body ng-controller="AppCtrl">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

    <div class="app" id="app" ng-class="{
         'app-header-fixed':app.settings.headerFixed, 
         'app-aside-fixed':app.settings.asideFixed, 
         'app-aside-folded':app.settings.asideFolded, 
         'app-aside-dock':app.settings.asideDock, 
         'container':app.settings.container
         }" ui-view></div>
    <!-- jQuery -->
    <script src="~/Home/ServerScript"></script>
    <script src="~/App/lib/crypto/forge.min.js"></script>
    @if (Context.IsDebuggingEnabled)
    {
        <script src="~/App/js/app.src.js"></script>
    }
    else
    { 
        <script src="~/App/js/app.min.js"></script>
    }
    <script src="~/Scripts/NonAngularJs"></script>
    <!-- Lazy loading -->
</body>
</html>
