<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="" ui-sref="app.dashboard" class="navbar-brand text-lt">
        <i class="fa fa-ticket"></i>
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->
    <!-- search form -->
    <!-- / search form -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class=" hidden-sm" ng-if="!availableCountries">
            <div style="padding: 15px 15px 15px 15px">
                <i class="flag-icon flag-icon-{{country.IsoAlpha2|lowercase}}"></i>&nbsp;{{country.Name}}
            </div>
        </li>
        <li class="dropdown hidden-sm" ng-if="availableCountries" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="flag-icon flag-icon-{{country.IsoAlpha2|lowercase}}"></i>&nbsp;{{country.Name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="country in availableCountries">
                    <a ng-click="selectCountry(country)" href>{{country.Name}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                {{selectLang|translate}} <b class="caret"></b>

            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label|translate}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle ng-if="organization && organization.LogoSVG">
                <img src="{{ organization.LogoSVG ? 'data:image/svg+xml;base64,' + organization.LogoSVG : '' }}" alt="{{ organization.Name}}" style="height: 1em" />&nbsp;
                <span class="">{{ currentUser.FullName }}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.page.profile" translate>Profile</a>
                </li>
                <li>
                    <a ui-sref="app.docs" translate>
                        Help
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" ng-click="logOut()" translate>Logout</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
