<!-- list -->
<ul class="nav">
    <li ui-sref-active="active">
        <a href="" ui-sref="app.dashboard" class="auto">
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold " translate>Dashboard</span>
        </a>
    </li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-repeat-start="category in navigationItems" ng-if="!category.NeedsCountry || country">
        <span translate>{{ category.Name|translate }}</span>
    </li>

    <li ng-class="{active:$state.includes(item.State)}" ng-repeat="item in category.Items" ng-repeat-end>
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="{{ item.CssClass }}"></i>
            <span>{{item.Title|translate}}</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="">
                    <span>{{item.Title|translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-repeat-start="child in item.Children" ng-repeat-end>
                <a ui-sref="{{child.State}}" href="#">
                    <span>{{ child.Title|translate}}</span>
                </a>
            </li>
        </ul>
        </a>
    </li>
</ul>
