<form name="copyForm" class="form-horizontal" ng-submit="save()">
    <div class="modal-header">
        <h4 class="modal-title" translate>
            Assign Voucher Book
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <form-group label="{{ 'Starting Number'|translate }}" name="serialNumber" required="true">
                    <input type="text" class="form-control" ng-model="assign.serialNumber" form-input required />
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-info" role="alert">
                The system will auto fill the vouchers with the serial numbers starting from the number above.
                This distribution should include as many voucher categories as there are pages in a voucher book.
            </div>
        </div>
    </div>
</form>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()" translate>
        Assign
    </button>
    <button class="btn btn-default" ng-click="close()" translate>
        Back
    </button>
</div>