<form name="copyForm" class="form-horizontal" ng-submit="save()">
    <div class="modal-header">
        <h4 class="modal-title" translate>
            Assign Voucher Book
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>Starting Serial Number</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" ng-model="serialNumber" />
            </div>
        </div>
        <div class="alert alert-info" role="alert">
            The system will auto fill the vouchers with the serial numbers starting from the number above.
            This distribution should include as many voucher categories as there are pages in a voucher book.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" translate>
            Assign
        </button>
        <button class="btn btn-default" ng-click="close()" translate>
            Back
        </button>
    </div>
</form>
