<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-6">
            <form-group label="{{ 'Title'|translate }}" name="title">
                <input type="text" class="form-control" ng-model="vm.entity.title" form-input />
            </form-group>
        </div>
        <div class="col-sm-6">
            <form-group label="{{ 'Program'|translate }}" name="programId">
                <select class="form-control" ng-model="vm.entity.programId"
                        ng-options="item.id as item.name for item in vm.lists.programs | orderBy:'item.name'" form-input></select>
            </form-group>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="col-sm-6">
            <form-group label="{{ 'Cycle'|translate }}" name="groupId">
                <select class="form-control" ng-model="vm.entity.groupId"
                        ng-options="item.id as item.name for item in vm.lists.beneficiaryGroups | orderBy:'item.name'" form-input></select>
            </form-group>
        </div>
        <div class="col-sm-6">
            <form-group label="{{ 'Location'|translate }}" name="locationId">
                <select class="form-control" ng-model="vm.entity.locationId"
                        ng-options="item.id as item.name for item in vm.lists.locations | orderBy:'item.name'" form-input></select>
            </form-group>
        </div>
        <div ng-if="!vm.isNew">
            <div class="line b-b line-lg pull-in"></div>
            <div class="col-sm-6">
                <form-group label="{{ 'Created On'|translate }}" name="createdOn">
                    <input type="text" class="form-control" ng-model="vm.entity.createdOn" form-input />
                </form-group>
            </div>
            <div class="col-sm-6">
                <form-group label="{{ 'Modified On'|translate }}" name="modifiedOn">
                    <input type="text" class="form-control" ng-model="vm.entity.modifiedOn" form-input />
                </form-group>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="">#</th>
                <th class="col-sm-2">Type of Voucher</th>
                <th class="col-sm-2">Type of Vendor</th>
                <th class="">Value</th>
                <th class="col-sm-3" ng-if="vm.entity.program.distributionMechanism == 3">Valid After</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in vm.entity.categories|orderBy:(vm.entity.program.distributionMechanism == 3 ? 'validAfter' : 'id')" toggle-editing is-editing="isEditing">
                <td>{{$index + 1}}</td>
                <td>
                    <select class="form-control" ng-model="category.typeId"
                            ng-options="item.id as item.name for item in vm.lists.voucherTypes | orderBy:'item.name'" required></select>
                </td>
                <td>
                    <select class="form-control" ng-model="category.vendorTypeId"
                            ng-options="item.id as item.name for item in vm.lists.vendorTypes | orderBy:'item.name'"></select>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{ country.CurrencyIsoCode }}</span>
                        <input type="text" class="form-control" placeholder="Value" ng-model="category.value" required>
                    </div>
                </td>
                <td ng-if="vm.entity.program.distributionMechanism == 3">
                    <input type="date" class="form-control" placeholder="Valid After" ng-model="category.validAfter">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<tabset justified="true" class="tab-container grid" ng-if="!vm.isNew">
    <tab heading="{{ 'Unused Vouchers'|translate }}">
        <div class="panel panel-default">
            <sub-grid filter="{'and': [
                      { 'type': {'==': 1} },
                      { 'voucher.status': { '==': 1 } }
                      ]}"
                      collection="VoucherTransactionRecords"
                      expand="beneficiary, voucher"
                      key="voucher.distributionId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="{{ 'Beneficiary'|translate }}" field="beneficiary.firstName">
                    <div class="ui-grid-cell-contents">
                        {{ row.entity.beneficiary.firstName + ' ' + row.entity.beneficiary.lastName }}
                    </div>
                </sub-grid-column>
                <sub-grid-column label="{{ 'Voucher Code'|translate }}" field="voucher.voucherCode"></sub-grid-column>
                <sub-grid-column label="{{ 'Serial Number'|translate }}" field="voucher.sequentialCode"></sub-grid-column>
                <sub-grid-column label="{{ 'Created On'|translate }}" field="createdOn"><div class="ui-grid-cell-contents">{{row.entity.createdOn|localeDateTime}}</div></sub-grid-column>
                <sub-grid-column label="{{ 'Actions'|translate }}" name="Actions" disable-sorting="true">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group" ng-if="grid.appScope.$parent.vm.entity.program.distributionMechanism == 1">
                            <a href ng-click="grid.appScope.$parent.cancelVoucher(row.entity, grid)" class="btn btn-default btn-xs">Cancel Voucher</a>
                            <a href ng-click="grid.appScope.$parent.resendVoucher(row.entity, grid)" class="btn btn-default btn-xs">Resend Voucher</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
    <tab heading="{{ 'Used Vouchers'|translate }}">
        <div class="panel panel-default">
            <sub-grid filter="{'and': [
                      { 'type': {'==': 2} },
                      { 'or': [
                           { 'voucher.status': { '==': 2 } },
                           { 'voucher.status': { '==': 3 } },
                           { 'voucher.status': { '==': 4 } }
                          ]
                      } ]}"
                      collection="VoucherTransactionRecords"
                      expand="beneficiary, voucher"
                      key="voucher.distributionId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="{{ 'Beneficiary'|translate }}" field="beneficiary.firstName">
                    <div class="ui-grid-cell-contents">
                        {{ row.entity.beneficiary.firstName + ' ' + row.entity.beneficiary.lastName }}
                    </div>
                </sub-grid-column>
                <sub-grid-column label="{{ 'Voucher Code'|translate }}" field="voucher.voucherCode"></sub-grid-column>
                <sub-grid-column label="{{ 'Created On'|translate }}" field="createdOn"><div class="ui-grid-cell-contents">{{row.entity.createdOn|localeDateTime}}</div></sub-grid-column>
                <sub-grid-column label="{{ 'Used On'|translate }}" field="lastModifiedOn"><div class="ui-grid-cell-contents">{{row.entity.lastModifiedOn|localeDateTime}}</div></sub-grid-column>
                <sub-grid-column label="{{ 'Status'|translate }}" field="voucher.status"><div class="ui-grid-cell-contents">{{row.entity.voucher.statusString}}</div></sub-grid-column>
            </sub-grid>
        </div>
    </tab>
    <tab heading="{{ 'Beneficiaries'|translate }}" ng-if="vm.entity.program.distributionMechanism == 3">
        <div class="panel panel-default">
            <sub-grid collection="DistributionBeneficiaries"
                      parameter="distributionId"
                      entity="vm.entity">
                <sub-grid-column label="#" field="id" width="40"></sub-grid-column>
                <sub-grid-column label="{{ 'Beneficiary'|translate }}" field="firstName">
                    <div class="ui-grid-cell-contents">
                        {{ row.entity.name }}
                    </div>
                </sub-grid-column>
                <sub-grid-column label="{{ 'Actions'|translate }}" name="Actions" disable-sorting="true">
                    <div class="ui-grid-cell-contents">
                        <div class="btn-group">
                            <a href ng-click="grid.appScope.$parent.assignVoucherBook(row.entity, grid)" class="btn btn-default btn-xs">Assign Voucher Book</a>
                        </div>
                    </div>
                </sub-grid-column>
            </sub-grid>
        </div>
    </tab>
</tabset>